<div class="config">
  <table>
    <thead>
    <tr>
      <th>
        Name
      </th>
      <th>
        Value
      </th>
      <th>
        Options
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>
        Device status
      </td>
      <td>
        {{config.deviceStatus}}
      </td>
      <td>
        <button class="deleteButton">
          Reboot
        </button>
      </td>
    </tr>
    <tr>
      <td>
        Device NO
      </td>
      <td>
        {{config.deviceNumber}}
      </td>
    </tr>
    <tr>
      <td>
        User Total
      </td>
      <td>
        {{cards.length}}
      </td>
    </tr>
    <tr>
      <td>
        IP
      </td>
      <td>
        {{config.ip}}
      </td>
    </tr>
    <tr>
      <td>
        Subnet Mask
      </td>
      <td>
        {{config.subnetMask}}
      </td>
    </tr>
    <tr>
      <td>
        Gateway
      </td>
      <td>
        {{config.gateway}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
